<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="assets/img/default.jpg" style="width: 250px">
        </div>
        <div class="row">
            <div class="col-9">
                nom
            </div>
            <div class="col-3">
                prix
            </div>
        </div>
    </div>
</div>
<!--<td>{{ training.id }}</td>
          <td>{{ training.name }}</td>
          <td>{{ training.description }}</td>
          <td>{{ training.price }}</td>-->