<div class="container" style="padding-top: 15px;" >
    <div class="card" style="max-width: 1000px;">
        <div class="card-header"><strong>Détails de commande</strong></div> 
    </div>

    <div class="container second-container">
        <div class="card" style="max-width: 1000px;">
          <div class="card-header-id">
            <div>ID : {{this.order.id}}</div> 
            <div><button class="btn btn-danger" (click)="deleteOrderItemAndOrder(this.order.id)"><i class="fa fa-trash fa-lg"></i></button></div>
          </div>

          <div class="row" style="padding: 20px 0px;">
            <div class="col-md-4">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Nom : {{this.order.customer.name}} </li>
                <li class="list-group-item">Prénom : {{this.order.customer.lastname}}</li>
                <li class="list-group-item">Adresse : {{this.order.customer.adress}}</li>
                <li class="list-group-item">Téléphone : {{this.order.customer.phone}} </li>
                <li class="list-group-item">Email :{{this.order.customer.email}} </li>
                <li class="list-group-item">Date de commande : {{dateOrder | date:"MM/dd/yy"}} </li>
                <li class="list-group-item">Date de livraison : {{dateDelivery | date:"dd/MM/yy"}}</li>
              </ul>
            </div>

              <div class="row col-md-8 update-container">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                  <div class="amount-container">
                    <label>Coût Total :</label>
                    <input type="number" formControlName="amount"/>
                  </div>
                  <div class="status-container">
                    <label>Status :</label>
                    <select formControlName="status">
                      <option [value]="this.order.status">{{this.order.status}}</option>
                      <option  *ngFor="let status of listStatus" [value]="status"> {{status}}</option>
                    </select>
                    <button class="btn-submit shadow" type="submit">Modifier</button>
                  </div>
                </form>
                <table>
                  <thead>
                    <tr>
                      <th>Id</th><th>Nom</th><th>Quantité</th><th>Prix</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let orderItem of listOrderItems">
                      <td>{{ orderItem.id }}</td>
                      <td>{{ orderItem.training.name }}</td>
                      <td>{{ orderItem.quantity }}</td>
                      <td>{{ orderItem.price }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div> 
          </div>
    </div>            
</div>
