<nav class="navigation">
  <div>
    <a href="#" routerLink="/trainings">
      <h1 style="margin: 0 1em">MyShopApp</h1>
    </a>
  </div>
  <div>
    <button
      class="nav-button"
      *ngIf="this.authService.isAdmin()"
      routerLink="/trainingDetail/?"
    >
      Ajouter formation <i class="fa fa-edit"></i>
    </button>
    <button
      class="nav-button orders-btn"
      *ngIf="this.authService.isAdmin()"
      routerLink="/ordersList"
    >
      Gérer commandes <i class="fa fa-edit"></i>
    </button>
  </div>
  <div>
    <app-search></app-search>
  </div>
  <div class="container-legend-connection">
    <a width="40px" href="#" routerLink="/login">
      <img
        class="img-connection"
        *ngIf="
          this.authService.isConnectedToken() && this.authService.isAdminToken()
        "
        src="assets/img/admin.png"
        width="50px"
        alt="Utilisateur"
      />
      <img
        class="img-connection"
        *ngIf="
          this.authService.isConnectedToken() &&
          !this.authService.isAdminToken()
        "
        src="assets/img/users.png"
        width="50px"
        alt="Utilisateur"
      />
      <img
        class="img-connection"
        *ngIf="!this.authService.isConnectedToken()"
        src="assets/img/visitor.png"
        width="50px"
        alt="Utilisateur"
      />
      <div class="userDetail-container">
        <p>{{ this.authService.UsernameToken() }}</p>
        <p
          class="connection-legend color-danger"
          *ngIf="
            this.authService.isConnectedToken() &&
            this.authService.isAdminToken()
          "
        >
          [ Admin ]
        </p>
        <p
          class="connection-legend color-success"
          *ngIf="
            this.authService.isConnectedToken() &&
            !this.authService.isAdminToken() &&
            !this.authService.isOrderManagerToken()
          "
        >
          [ User ]
        </p>
        <p
          class="connection-legend color-success"
          *ngIf="
            this.authService.isConnectedToken() &&
            this.authService.isOrderManagerToken()
          "
        >
          [ Order-Manager ]
        </p>
        <p
          class="connection-legend"
          *ngIf="!this.authService.isConnectedToken()"
        >
          [ Visitor ]
        </p>
      </div>
    </a>
  </div>
</nav>
<div class="fondMenu">
  <div class="panier">
    <a
      class="nav-link"
      href="#"
      routerLink="/cart"
      style="background-color: rgba(0, 0, 0, 0)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-cart"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
        />
      </svg>
      [{{ this.cartService.getSize() }}]
    </a>
  </div>
</div>
<router-outlet class="backColor"></router-outlet>
