<div class="container">
  <ng-container *ngIf="listTrainings; else loading">
    <nav class="navbar navbar-expand-lg navigationCategories">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" *ngFor="let category of listCategories"
          (click)="displayTrainingsByCategory(category.id)"><a class="nav-link">{{ category.name }}</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <ul class="cards">
        <div *ngFor="let training of listTrainings">
          <li>
            <a href="#" class="carte">
              <img src="assets/img/default.jpg" alt="default" class="card__image">
              <div class="backUpper"></div>
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                    <path />
                  </svg>
                  <div class="card__header-text">
                    <h3 class="card__title">{{ training.name }}</h3>
                    <span class="card__status">prix: {{ training.price }} €</span>
                  </div>
                  <button class="card__thumb"><i class="fa fa-shopping-cart"></i></button>
                </div>
                <p class="card__description">{{training.description}}</p>
              </div>
            </a>
          </li>
        </div>
      </ul>
    </div>
  </ng-container>
  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>
</div>