<div class="container">
  <ng-container *ngIf="listTrainings; else loading">
    <nav class="categories-main-container">
      <button
        class="categories-buttons btn btn-success"
        *ngFor="let category of listCategories"
        (click)="displayTrainingsByCategory(category.id)"
      >
        {{ category.name }}
      </button>
    </nav>
    <ng-container *ngFor= "let training of listTrainings">
      <div class="container" style="padding-top: 15px;" >
      <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{training.name}}</h5>
        
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{training.description}}</li>
            <li class="list-group-item"><i class="fa fa-cart-plus"></i></li>
            <li class="list-group-item">Catégorie</li>
            <li class="list-group-item">{{training.price}}</li>
          </ul>
        </div>
      </div>
      </ng-container>
  </ng-container>
  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>
</div>
