<div class="container">
  <ng-container *ngIf="listTrainings; else loading">
    <nav class="categories-main-container">
      <button
        class="categories-buttons btn btn-success"
        *ngFor="let category of listCategories"
        (click)="displayTrainingsByCategory(category.id)"
      >
        {{ category.name }}
      </button>
    </nav>
    <div class="container">
      <div class="row align-items-center">
          <app-card  class="col-sm" *ngFor="let training of listTrainings"></app-card>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>
</div>
