.searchBar {display: flex;}

.searchButton {
    background: none;
    border: none;
}

.searchButton .fa {
    font-size: 24px; 
    line-height: 1; 
  }

.formulaireRecherche {
    height: 38px;
    border-radius: 8px !important;
    border: none !important;
    margin: 15px 1em;
}