<div class="container mt-3">
  <button class="btn btn-lg mb-3" (click)="navigateToHome()">
    <i class="fa fa-arrow-left"></i>
  </button>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="row">
      <div class="col-md-6">
        <div class="container">
          <img
            [src]="
              status
                ? urlImg + '/download/' + training.id
                : 'assets/img/informatique.jpg'
            "
            class="img-thumbnail"
            alt="..."
          />
          <div class="form-group mt-3">
            <input
              type="file"
              formControlName="img"
              class="form-control"
              (change)="onFileSelected($event)"
            />
            <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Categorie : </label>
          <select
            formControlName="category"
            class="form-select"
            aria-label="Default select example"
            style="background-color: #69f5ed"
          >
            <option
              *ngFor="let category of categories"
              [ngValue]="category">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div *ngIf="myForm.value.id" class="form-group mt-3">
          <label class="control-label">Id : </label>
          <input
            type="number"
            formControlName="id"
            class="form-control"
            readonly
          />
        </div>
        <div class="form-group mt-3">
          <label class="control-label">Nom de la formation : </label>
          <input type="text" formControlName="name" class="form-control" />
        </div>
        <div class="form-group mt-3">
          <label class="control-label">Description : </label>
          <input
            type="text"
            formControlName="description"
            class="form-control"
          />
        </div>
        <div class="form-group mt-3">
          <label class="control-label">Prix : </label>
          <input type="number" formControlName="price" class="form-control" />
        </div>
        <div>
          <button
            *ngIf="!status"
            type="submit"
            class="btn btn-lg mt-3 me-3 shadow"
            style="background-color: #5984f1"
          >
            <i class="fa fa-save"></i> Ajouter en base
          </button>
          <button
            *ngIf="status"
            type="submit"
            class="btn btn-lg mt-3 me-3 shadow"
            style="background-color: #5984f1"
            [disabled]="!isUpdateAllowed"
          >
            <i class="fa fa-edit"></i> Mise à jour
          </button>
          <button *ngIf="status" class="btn btn-danger btn-lg mt-3 shadow">
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <button
          *ngIf="status"
          type="submit"
          class="btn btn-lg mt-3 shadow"
          style="background-color: #ffdd64"
        >
          <i class="fa fa-shopping-cart"></i> Ajouter
        </button>
      </div>
    </div>
  </form>
</div>
