<div class="container mt-3">
  <button class="btn btn-lg mb-3" (click)="navigateToHome()">
    <i class="fa fa-arrow-left"></i>
  </button>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="row">
      <div class="col-md-6">
        <div class="container">
          <img
            [src]="
              status
                ? urlImg + '/download/' + training.id
                : 'assets/img/default.jpg'
            "
            class="img-thumbnail"
            alt="..."
          />
          <div class="form-group mt-3">
            <input
              *ngIf="isAdmin"
              type="file"
              class="form-control"
              (change)="onFileSelected($event)"
            />
            <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Categorie : </label>
          <input
            type="text"
            class="form-control"
            [value]="myForm.get('category')?.value?.name"
            *ngIf="!isAdmin"
            readonly
          />

          <!-- <select
          id="statusSelect"
          class="form-control"
          (change)="onStatusChange($event)"
        >
          <option value="">Tous</option>
          <option *ngFor="let status of listStatus" [value]="status">
            {{ status }}
          </option>
        </select> -->

          <select
            formControlName="category"
            class="form-control"
            *ngIf="isAdmin"
          >
            <option value="" selected disabled>
              {{ categories }}
            </option>
            <option *ngFor="let category of categories" [value]="category">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div *ngIf="myForm.value.id" class="form-group mt-3">
          <label class="control-label">Id : </label>
          <input
            type="number"
            formControlName="id"
            class="form-control"
            readonly
          />
        </div>
        <div class="form-group mt-3">
          <label class="control-label">Nom de la formation : </label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            [readonly]="!isAdmin"
          />
        </div>
        <div class="form-group mt-3">
          <label class="control-label">Description : </label>
          <input
            type="text"
            formControlName="description"
            class="form-control"
            [readonly]="!isAdmin"
          />
        </div>
        <div class="form-group mt-3">
          <label class="control-label">Prix : </label>
          <input
            type="number"
            formControlName="price"
            class="form-control"
            [readonly]="!isAdmin"
          />
        </div>
        <div class="form-group mt-3">
          <label class="control-label">Place restante : </label>
          <input
            type="number"
            formControlName="capacity"
            class="form-control"
            min="0"
            [readonly]="!isAdmin"
          />
        </div>
        <div *ngIf="isAdmin" class="form-group mt-3">
          <label for="active">Statut :</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="active"
              id="active"
              [value]="true"
              [checked]="training.active === true"
              required
            />
            <label class="form-check-label" for="active">Active</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              formControlName="active"
              id="inactive"
              [value]="false"
              [checked]="training.active === false"
              required
            />
            <label class="form-check-label" for="inactive">Inactive</label>
          </div>
        </div>
        <div>
          <button
            *ngIf="!status && isAdmin"
            type="submit"
            class="btn btn-lg mt-3 me-3 shadow"
            style="background-color: #5984f1"
          >
            <i class="fa fa-save"></i> Ajouter en base
          </button>
          <button
            *ngIf="status && isAdmin"
            type="submit"
            class="btn btn-lg mt-3 me-3 shadow"
            style="background-color: #5984f1"
            [disabled]="!isUpdateAllowed"
          >
            <i class="fa fa-edit"></i> Mise à jour
          </button>
        </div>
        <button
          *ngIf="!isAdmin && training.capacity > 0"
          type="button"
          class="btn btn-lg mt-3 shadow"
          style="background-color: #ffdd64"
          (click)="onAddToCart(this.training)"
        >
          <i class="fa fa-shopping-cart"></i> Ajouter
        </button>
        <div
          *ngIf="!isAdmin && training.capacity == 0"
          style="color: red; margin-top: 20px"
        >
          <i class="fa fa-lock"></i><strong> Aucune place restante !</strong>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="notification" class="notification">
  La formation {{ this.training.name }} x1 a bien été ajoutée à votre panier !
</div>
