.debutCarte {
  height: 390px;
  margin-bottom: 32px;
}

.container-training-detail {
  background-color: #69f5ed;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #aaa;
}
.sous-container-training-detail {
  padding: 0;
}

.contenuCarte {
  width: 100%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  background: #d9d9d9;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #aaa;
}

.contenuCarte a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card_image {
  height: 200px;
  width: 350px;
  border-radius: 5px;
}

.container-active {
  display: inline-block;
  margin-left: auto;
}

.container-active .fa-eye {
  font-size: 20px;
}

.container-inactive {
  display: inline-block;
  margin-left: auto;
}

.container-inactive .fa-eye-slash {
  font-size: 20px;
}

.container-btn-upload {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.container-input-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px #f5a469;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-update-img {
  background-color: #ffdd64;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-right: 8px;
}

.btn-update-img:hover {
  transform: scale(1.1);
}

.btn-update-img:hover {
  background-color: #ffe68a;
}

.btn-update-training {
  background-color: #ffdd64;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-right: 8px;
}

.btn-update-training:hover {
  transform: scale(1.1);
}

.btn-update-training:hover {
  background-color: #ffe68a;
}

.validate-file-btn {
  background-color: #ffdd64;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 2px;
}

.validate-file-btn:hover {
  transform: scale(1.1);
}

.validate-file-btn:hover {
  background-color: #ffe68a;
}

.infosCarte {
  padding: 15px;
}

.container-title-card {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.container-title-card h3 {
  margin: 10px 0px;
}

.sous-container-btn-add {
  display: flex;
  align-items: center;
}

.sous-container-btn-add input {
  margin-right: 10px;
}

.container-price {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.prix {
  font-size: 20px;
}

.cartPanier {
  background: none;
  border: none;
  font-size: 30px;
}

.cartPanier {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.cartPanier i {
  font-size: 24px;
  color: #333;
  transition: transform 0.3s ease;
}

.cartPanier:hover i {
  transform: scale(1.2);
}

.cartPanier {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: relative;
}

.cartPanier i {
  font-size: 24px;
  color: #333;
}

.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff5733;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
  opacity: 0;
  animation: counterAnimation 1s ease-out forwards;
}

.training-name-container {
  width: 70%;
}

.training-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 0.3rem;
}

@keyframes counterAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
