<div class="container">
  <div class="col-md-3">
    <form [formGroup]="myForm" (ngSubmit)="onSaveCustomer(myForm)">
      <div class="form-group">
        <label class="control-label">Nom : </label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          placeholder="Nom"
          [(ngModel)]="customer.name"
        />
        <div
          *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched"
          class="alert alert-danger mt-2"
        >
          Nom obligatoire
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Prénom : </label>
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
          placeholder="Prénom"
        />
        <div
          *ngIf="
            myForm.get('firstName')?.invalid && myForm.get('firstName')?.touched
          "
          class="alert alert-danger mt-2"
        >
          Prénom obligatoire
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Adresse : </label>
        <input
          type="text"
          formControlName="adress"
          class="form-control"
          placeholder="Addresse"
        />

        <div
          *ngIf="myForm.get('adress')?.invalid && myForm.get('adress')?.touched"
          class="alert alert-danger mt-2"
        >
          Address obligatoire
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Téléphone :</label>
        <input
          type="text"
          formControlName="phone"
          class="form-control"
          placeholder="Téléphone"
        />
        <div
          *ngIf="myForm.get('phone')?.invalid && myForm.get('phone')?.touched"
          class="alert alert-danger mt-2"
        >
          Téléphone obligatoire
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Email : </label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          placeholder="Email"
        />
        <div
          *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched"
          class="alert alert-danger mt-2"
        >
          Email obligatoire
        </div>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Next</button>
    </form>
    <div class="text-danger">{{ error }}</div>
  </div>
</div>
