.status-btn {
  margin-left: 8px;
  margin-right: 8px;
}

.status-btn-all {
  margin-right: 8px;
}

.update-container {
  text-align: center;
}

.btn-container {
  margin-top: 8px;
}

.order-list-header {
  font-size: 1.2rem;
}

.no-order-message {
  margin-top: 1rem;
}

.status-btn-all.btn-primary,
.status-btn.btn-primary {
  background-color: rgb(255, 221, 100);
}

.no-category-msg {
  margin-top: 1rem;
}

.edit-btn {
  background-color: #5984f1;
  border: none;
  border-radius: 0;
}
